#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        htr: hold_tap_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_RIGHT";
            #binding-cells = <2>;
            tapping-term-ms = <350>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <1000>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <1 13 25 26 14 2 3 15 27 28 16 4 5 17 29>;
        };

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        htrs: hold_tap_right_short {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_RIGHT_SHORT";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <135>;
            global-quick-tap;
            require-prior-idle-ms = <1000>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <1 13 25 26 14 2 3 15 27 28 16 4 5 17 29>;
        };

        ht_qu: ht_qu {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_QU";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&q_u>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_ck: ht_ck {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_CK";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&c_k>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_npi: holdtap_noprioridle {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_NPI";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_ing: ht_ing {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_ING";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&i_n_g>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_make: ht_make {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MAKE";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&m_a_k_e>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_mp: ht_mp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&m_p>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_dy: ht_dy {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_DY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&d_y>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_ly: ht_ly {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_LY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&l_y>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_ty: ht_ty {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_TY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&t_y>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_ry: ht_ry {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_RY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&r_y>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_you: ht_you {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_YOU";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&y_o_u>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_ye: ht_ye {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_YE";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&y_e>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_ay: ht_ay {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_AY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&a_y>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_gh: ht_gh {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_GH";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&g_h>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_my: ht_my {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&m_y>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_xp: ht_xp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_XP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&x_p>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_by: ht_by {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_BY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&b_y>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_fy: ht_fy {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_FY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&f_y>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_wh: ht_wh {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_WH";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&w_h>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };

        ht_jj: ht_jj {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_JJ";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&j_j>, <&kp>;

            quick-tap-ms = <175>;
            global-quick-tap;
            require-prior-idle-ms = <0>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        SYS_LAYER {
            bindings = <&mo 6>;
            key-positions = <38 37 36>;
            timeout-ms = <200>;
            require-prior-idle-ms = <500>;
            layers = <0>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <17 18>;
            require-prior-idle-ms = <1000>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <4 2>;
            timeout-ms = <200>;
            require-prior-idle-ms = <500>;
        };

        ret {
            bindings = <&kp RET>;
            key-positions = <7 8>;
            timeout-ms = <200>;
            require-prior-idle-ms = <500>;
        };
    };

    //

    macros {
        q_u: q_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp U>;
            label = "Q_U";
            wait-ms = <5>;
        };

        c_k: c_k {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp K>;
            label = "C_K";
        };

        j_j: j_j {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp J>;
            label = "J_J";
        };

        i_n_g: i_n_g {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp G>;
            label = "I_N_G";
        };

        sp_w_h: sp_w_h {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp W &kp H>;
            label = "SP_W_H";
            wait-ms = <15>;
            tap-ms = <15>;
        };

        sp_w_k: sp_w_k {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp W &kp K>;
            label = "SP_W_K";
            wait-ms = <15>;
            tap-ms = <15>;
        };

        sp_w_l: sp_w_l {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp W &kp L>;
            label = "SP_W_L";
            wait-ms = <15>;
            tap-ms = <15>;
        };

        sp_w_j: sp_w_j {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp W &kp J>;
            label = "SP_W_J";
            wait-ms = <15>;
            tap-ms = <15>;
        };

        m_p: m_p {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp P>;
            label = "M_P";
        };

        d_y: d_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp Y>;
            label = "D_Y";
        };

        l_y: l_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp Y>;
            label = "L_Y";
        };

        t_y: t_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp Y>;
            label = "T_Y";
        };

        r_y: r_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp Y>;
            label = "R_Y";
        };

        y_o_u: y_o_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O &kp U>;
            label = "Y_O_U";
        };

        f_y: f_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F &kp Y>;
            label = "F_Y";
        };

        a_y: a_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp Y>;
            label = "A_Y";
        };

        y_e: y_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp E>;
            label = "Y_E";
        };

        g_h: g_h {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp H>;
            label = "G_H";
        };

        b_y: b_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp Y>;
            label = "B_Y";
        };

        m_a_k_e: m_a_k_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp A &kp K &kp E>;
            label = "M_A_K_E";
        };

        x_p: x_p {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp P>;
            label = "X_P";
        };

        m_y: m_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp Y>;
            label = "M_Y";
        };

        w_h: w_h {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp W &kp H>;
            label = "W_H";
        };

        sp_f_w: sp_f_w {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp F &kp G>;
            label = "SP_F_W";
            wait-ms = <15>;
            tap-ms = <15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        ALPHA {
            display-name = "Alphabet";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &none        &ht_mp 0 P  &ht_ly 0 L  &ht_dy 0 D  &none                &none            &ht_ing 0 I  &ht_you 0 O  &ht_qu 0 U  &none  &trans
&trans  &ht LCTRL S  &ht_ck 0 C  &ht_ry 0 R  &ht_ty 0 T  &none                &none            &ht_ye 0 E   &ht_ay 0 A   &ht_gh 0 H  &sl 1  &trans
&trans  &none        &none       &none       &none       &none                &none            &none        &none        &none       &none  &trans
                                 &none       &lt 2 N     &ht_npi GRAVE SQT    &sk RIGHT_SHIFT  &lt 3 SPACE  &none
            >;

            label = "Alphabet";
        };

        ALPHA2 {
            bindings = <
&trans  &trans  &ht_make 0 K  &kp G   &ht_by 0 B  &trans      &trans     &kp Z                      &ht_xp 0 X               &kp Y   &trans  &trans
&trans  &kp Q   &ht_wh 0 W    &kp M   &ht_fy 0 F  &trans      &trans     &ht_npi EXCLAMATION COMMA  &ht_npi QUESTION PERIOD  &kp V   &trans  &trans
&trans  &trans  &trans        &trans  &trans      &trans      &trans     &trans                     &trans                   &trans  &trans  &trans
                              &trans  &ht_jj 0 J  &kp LCMD    &kp RSHFT  &kp RALT                   &trans
            >;

            label = "Alpha 2";
        };

        SYMNUM {
            display-name = "SymNum";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &trans                &kp TAB          &ht NUMBER_9 NUMBER_4  &ht RIGHT_PARENTHESIS LEFT_PARENTHESIS  &trans      &trans           &ht PLUS EQUAL                         &ht_npi COLON SEMICOLON                  &ht UNDERSCORE MINUS            &trans  &trans
&trans  &ht PERCENT NUMBER_5  &ht N8 NUMBER_3  &ht N7 NUMBER_2        &ht NUMBER_6 NUMBER_1                   &trans      &trans           &ht_npi LEFT_BRACKET LEFT_PARENTHESIS  &ht_npi RIGHT_BRACKET RIGHT_PARENTHESIS  &ht_npi NON_US_BACKSLASH SLASH  &kp N0  &trans
&trans  &trans                &trans           &trans                 &trans                                  &trans      &trans           &trans                                 &trans                                   &trans                          &trans  &trans
                                               &trans                 &trans                                  &kp LCMD    &kp RIGHT_SHIFT  &kp RIGHT_ALT                          &trans
            >;

            label = "SymNum";
        };

        VIMNAV {
            display-name = "VimNav";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans   &kp LG(LEFT_BRACE)  &kp LG(LS(SPACE))  &kp RG(RIGHT_BRACE)  &trans    &trans  &kp LC(PERCENT)       &kp LC(U)             &kp RC(D)           &trans           &trans
&trans  &sp_f_w  &sk LEFT_ALT        &sk LEFT_SHIFT     &sk LEFT_GUI         &trans    &trans  &ht_npi H LEFT_ARROW  &ht_npi J DOWN_ARROW  &ht_npi K UP_ARROW  &ht_npi L RIGHT  &trans
&trans  &trans   &trans              &trans             &trans               &trans    &trans  &trans                &trans                &trans              &trans           &trans
                                     &trans             &mo 4                &none     &trans  &trans                &trans
            >;

            label = "VimNav";
        };

        Window {
            bindings = <
&none  &none  &kp LS(LA(MINUS))  &kp LS(LA(H))  &kp LS(LA(J))  &none    &none  &kp RS(RA(K))  &kp RS(RA(L))  &kp RS(RA(EQUAL))  &none  &none
&none  &none  &none              &sp_w_h        &sp_w_j        &none    &none  &sp_w_k        &sp_w_l        &none              &none  &none
&none  &none  &none              &none          &none          &none    &none  &none          &none          &none              &none  &none
                                 &none          &trans         &none    &none  &trans         &none
            >;

            label = "WIN";
        };

        Fn {
            bindings = <
&trans  &trans   &kp F13  &kp F12  &kp F11  &kp F15    &kp F16  &kp F20  &kp F17  &kp F18  &trans   &trans
&trans  &kp F4   &kp F3   &kp F2   &kp F1   &kp F5     &kp F6   &kp F10  &kp F7   &kp F8   &kp F9   &trans
&trans  &kp F14  &trans   &trans   &trans   &trans     &trans   &trans   &trans   &trans   &kp F19  &trans
                          &trans   &trans   &trans     &trans   &trans   &trans
            >;

            label = "fn";
        };

        SYSTEM {
            display-name = "Leader";
            bindings = <
&trans  &bootloader  &trans  &trans  &trans  &trans            &bt BT_CLR    &trans        &bt BT_CLR_ALL  &trans        &bootloader   &trans
&trans  &trans       &trans  &trans  &trans  &studio_unlock    &trans        &trans        &trans          &trans        &trans        &trans
&trans  &trans       &trans  &trans  &trans  &trans            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4  &trans
                             &trans  &trans  &trans            &trans        &trans        &trans
            >;

            label = "System";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
