#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <150>;
            global-quick-tap;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };
    };

    combos { compatible = "zmk,combos"; };

    //

    keymap {
        compatible = "zmk,keymap";

        ALPHA {
            display-name = "Alphabet";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &kp Q        &kp W         &kp E       &kp R            &kp T         &kp Y    &kp U        &kp I       &kp O         &kp P            &trans
&trans  &lt 3 A      &hm LSHIFT S  &hm LALT D  &hm LGUI F       &kp G         &kp H    &hm RGUI J   &hm RALT K  &hm RSHIFT L  &kp SEMI         &trans
&trans  &hm LCTRL Z  &kp X         &kp C       &kp V            &kp B         &kp N    &kp M        &kp COMMA   &kp DOT       &hm RCTRL SLASH  &trans
                                   &kp EQUAL   &lt 1 BACKSPACE  &kp ESCAPE    &kp RET  &lt 2 SPACE  &kp COLON
            >;

            label = "Alphabet";
        };

        SYMNUM {
            display-name = "SymNum";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &trans        &trans        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TAB         &kp SEMICOLON  &kp RIGHT_BRACE    &kp LEFT_BRACE    &kp MINUS     &kp GRAVE      &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3          &kp NUMBER_4           &kp NUMBER_5    &kp NUMBER_6   &kp NUMBER_7       &kp NUMBER_8      &kp NUMBER_9  &kp NUMBER_0   &trans
&trans  &trans        &trans        &kp LESS_THAN         &kp GREATER_THAN       &trans          &trans         &kp RIGHT_BRACKET  &kp LEFT_BRACKET  &trans        &kp BACKSLASH  &trans
                                    &kp LGUI              &trans                 &trans          &kp RALT       &kp RSHIFT         &trans
            >;

            label = "SymNum";
        };

        VIMNAV {
            display-name = "VimNav";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp CARET       &soft_off       &trans        &kp PERCENT      &kp DOLLAR  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none       &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans      &trans
                        &trans  &trans  &trans    &trans          &trans          &trans
            >;

            label = "VimNav";
        };

        OSWIN {
            display-name = "System";
            bindings = <
&trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5     &trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &trans   &kp F6   &kp F7   &kp F8   &kp F9     &trans  &trans  &trans  &trans  &trans   &trans
&trans  &kp F10  &kp F11  &kp F12  &kp F13  &kp F14    &trans  &trans  &trans  &trans  &trans   &trans
                          &trans   &trans   &trans     &trans  &trans  &trans
            >;

            label = "Window";
        };

        SYSTEM {
            display-name = "extra";
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans            &bt BT_CLR    &trans        &bt BT_CLR_ALL  &trans        &bootloader  &trans
&trans       &trans  &trans  &trans  &trans  &studio_unlock    &trans        &trans        &trans          &trans        &trans       &trans
&trans       &trans  &trans  &trans  &trans  &trans            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &trans       &trans
                             &trans  &trans  &trans            &trans        &trans        &trans
            >;

            label = "System";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        SYSTEM {
            if-layers = <1 2 3>;
            then-layer = <4>;
        };
    };
};
